:root{
  --primary-color: #6e2048;
  --secondary-color: #4a1734;
  --another-color: #efe2eb;
  --white-color: #f8f8f8;
  --black-color: #121212;
}

.contenedor-principal {
  background-color: var(--white-color);
  height: 100%;
}

.imagen-principal{
  width: 100%;
    height: 70vh;
    object-fit: cover;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

.color-black{
  color: var(--black-color);
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 15% 
}

.principal-home-image{
  width: 100%;
  height: 80vh;
  overflow: hidden;
  object-fit: cover;
}

.principal-home-title{
  position: absolute;
  top: 17%;
  left: 5%;
  color: white;
  font-size: 52px;
  width: 15%;
}

.second-home-title{
  position: absolute;
  top: 45%;
  right: 5%;
  color: white;
  font-size: 52px;
}

.logoTittle{
  position: absolute;
  top: 20%;
  left: 15%;
  width: 15%;
}

.overlay-Text{
  position: absolute;
  top: 40%;
  margin-left: 15%;
}

  .overlay-Text > h1, .overlay-Text > h2,.overlay-Text > h3{
    color: var(--black-color);
    text-align: start;
  }

.button-borderline{
  background-color: transparent;
  color: var(--black-color);
  font-weight: 500;
  border: 2px solid var(--primary-color);
  min-width: 187.5px; 
  height: 43px;
  margin-top: 5vh;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  font-size: calc(10px + 0.39vw);
}
  .button-borderline:hover{ 
    background-color: var(--primary-color);
    color: var(--white-color);
  }
  
  .button-borderline.inverse{
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  .button-borderline.inverse:hover{
    background-color: transparent;
    color: var(--white-color);
  }
  
  