.container {
  position: fixed;
  width: 20vw;
  height: 100%;
  z-index: 100;
  top: 0;
  padding: 0 1vw 0 4vw;
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 0 0 25px 25px rgb(0 0 0 / 10%);
  flex-direction: column;
  justify-content: space-evenly;
}

.logo {
  height: 10em;
}

.menuNavBar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  padding-left: 0;
}

.menuButton {
  padding: 1.042vw;
  display: flex;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  color: #363638;
  text-transform: uppercase;
  font-size: 0.875em;
  border: none;
  border-left: 1px solid #eee;
  width: 100%;
  text-align: start;
}

.menuButton svg {
  margin-right: 0.5em;
}

.menuButton:hover {
  background-color: var(--primary-color);
  color: white;
}

.menuButton:focus {
  background-color: var(--secondary-color);
  color: white;
}

.container.menuOpen {
  transform: translateX(0);
}

.hamburger {
  display: none; /* Ocultar el botón de hamburguesa en pantallas más grandes */
}

/* Estilos para el menú hamburguesa */
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 2vw;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .container.menuOpen {
    transform: translateX(0);
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 2vw;
    top: 2vw;
    z-index: 1;
  }

  .hamburgerLine {
    width: 100%;
    height: 2px;
    background-color: #363638;
    transition: transform 0.3s ease;
  }

  .container.menuOpen .hamburgerLine:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .container.menuOpen .hamburgerLine:nth-child(2) {
    transform: scaleX(0);
  }

  .container.menuOpen .hamburgerLine:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}

/* Estilos para el botón de cierre */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none; /* Ocultar el botón de cierre por defecto */
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #363638;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .container.menuOpen .closeButton {
    display: flex; /* Mostrar el botón de cierre cuando el menú está abierto en dispositivos móviles */
  }
}