.hide{
    display: none;
}

.containerProductHome{
    position:relative;
    height: 30.833vw;
    width: 16.896vw;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    transition: 0.5s ease-in-out;
    user-select: none;
    margin:0;
    justify-content: space-evenly;
}
    .containerProductHome:hover + .hide{
        display: block;
    }

.containerTextProduct{
    padding: 0.833vw;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerProductHome > img{
    overflow: hidden;
    object-fit: cover;
    height: 62%;
}

a{
    text-decoration: none;
    color: unset;
}

h1{
    color: var(--secondary-color);
    font-size: 2.906vw;
    font-weight: 300;
    margin: 2vh 0;
    text-align: center;
}

h2{
    color: var(--secondary-color);
    font-size: 1.458vw;
    font-weight: 300;
    margin: 2vh 0;
    text-align: center;
}

h3{
    border-bottom: 1px solid gainsboro;
    font-size: 0.729vw;
    font-weight: 200;
    line-height: 1.094vw;
    text-align: center;
}

p{
    color: var(--primary-color);
    text-align: center;
}

.addButton{
    cursor: pointer;
    padding: 2%;
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 2.5vw;
}

    .addButton:hover{
        transition: 0.25s ease-in;
        background-color: var(--primary-color);
        transform: scale(1.02);
    }

.roundedButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 2.5vw;
    width: 2.5vw;
    font-size: 1.25em;
    transition: .5s;
    box-shadow: 0 15px 25px rgba(0,0,0,.08);
}
    .roundedButton:hover{
        transition: 0.25s ease-in;
        background-color: var(--white-color);
        color: var(--primary-color);
        border: var(--primary-color) solid 1px;
    }

.overlayButton{
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translateX(-50%) translateY(15px);
    display: flex;
    transition: .5s;
    opacity: 1;
    z-index: 1;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
}

.overlayButton * .row{
    align-items: flex-start;
}

.tooltip {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: -75%; /* Posición debajo del elemento padre */
    left: -10%;
    font-size: 0.729vw;
    font-weight: 200;
    background-color: #000000b6;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
  }